USE [master]
GO
/****** Object:  Database [Resources]    Script Date: 3/25/2015 4:03:42 PM ******/
CREATE DATABASE [Resources]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Resources', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Resources.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Resources_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Resources_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resources].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resources]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Process_ID] [int] NULL,
	[Title] [text] NOT NULL,
 CONSTRAINT [PK_ACTIVITY] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [text] NOT NULL,
 CONSTRAINT [PK_ATTRIBUTE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConsumedResourceAttribute]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumedResourceAttribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ConsumeType_ID] [int] NULL,
	[ResourceAllocation_ID] [int] NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_CONSUMEDRESOURCEATTRIBUTE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConsumeType]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumeType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [text] NOT NULL,
 CONSTRAINT [PK_CONSUMETYPE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Process]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Process](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [text] NOT NULL,
 CONSTRAINT [PK_PROCESS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resource]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceKind_ID] [int] NULL,
	[Title] [text] NOT NULL,
	[Price per hour] [money] NOT NULL,
	[Accessible_From] [datetime] NOT NULL,
	[Accessible_Untill] [datetime] NULL,
 CONSTRAINT [PK_RESOURCE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResourceAllocation]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAllocation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Resource_ID] [int] NULL,
	[Res_Resource_ID] [int] NULL,
	[Activity_ID] [int] NULL,
	[Occupied_From] [datetime] NOT NULL,
	[Occupied_Untill] [datetime] NULL,
 CONSTRAINT [PK_RESOURCEALLOCATION] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResourceAttribute]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAttribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Attribute_ID] [int] NULL,
	[Resource_ID] [int] NULL,
	[ConsumedResourceAttribute_ID] [int] NULL,
	[Value] [text] NOT NULL,
	[Max Value] [text] NOT NULL,
 CONSTRAINT [PK_RESOURCEATTRIBUTE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResourceKind]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceKind](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Res_ResourceKind_ID] [int] NULL,
	[Title] [text] NOT NULL,
 CONSTRAINT [PK_RESOURCEKIND] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResourceKindAttribute]    Script Date: 3/25/2015 4:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceKindAttribute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Attribute_ID] [int] NULL,
	[ResourceKind_ID] [int] NULL,
 CONSTRAINT [PK_RESOURCEKINDATTRIBUTE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [Relationship_13_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_13_FK] ON [dbo].[Activity]
(
	[Process_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_10_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_10_FK] ON [dbo].[ConsumedResourceAttribute]
(
	[ResourceAllocation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_14_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_14_FK] ON [dbo].[ConsumedResourceAttribute]
(
	[ConsumeType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AllwaysHave_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [AllwaysHave_FK] ON [dbo].[Resource]
(
	[ResourceKind_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Consumes_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Consumes_FK] ON [dbo].[ResourceAllocation]
(
	[Res_Resource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Provides_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Provides_FK] ON [dbo].[ResourceAllocation]
(
	[Resource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_9_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_9_FK] ON [dbo].[ResourceAllocation]
(
	[Activity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CanHave_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [CanHave_FK] ON [dbo].[ResourceAttribute]
(
	[Resource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_12_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_12_FK] ON [dbo].[ResourceAttribute]
(
	[ConsumedResourceAttribute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_2_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Relationship_2_FK] ON [dbo].[ResourceAttribute]
(
	[Attribute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Consist_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Consist_FK] ON [dbo].[ResourceKind]
(
	[Res_ResourceKind_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BelongsTo_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [BelongsTo_FK] ON [dbo].[ResourceKindAttribute]
(
	[Attribute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Has_FK]    Script Date: 3/25/2015 4:03:43 PM ******/
CREATE NONCLUSTERED INDEX [Has_FK] ON [dbo].[ResourceKindAttribute]
(
	[ResourceKind_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVITY_RELATIONS_PROCESS] FOREIGN KEY([Process_ID])
REFERENCES [dbo].[Process] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_ACTIVITY_RELATIONS_PROCESS]
GO
ALTER TABLE [dbo].[ConsumedResourceAttribute]  WITH CHECK ADD  CONSTRAINT [FK_CONSUMED_RELATIONS_CONSUMET] FOREIGN KEY([ConsumeType_ID])
REFERENCES [dbo].[ConsumeType] ([ID])
GO
ALTER TABLE [dbo].[ConsumedResourceAttribute] CHECK CONSTRAINT [FK_CONSUMED_RELATIONS_CONSUMET]
GO
ALTER TABLE [dbo].[ConsumedResourceAttribute]  WITH CHECK ADD  CONSTRAINT [FK_CONSUMED_RELATIONS_RESOURCE] FOREIGN KEY([ResourceAllocation_ID])
REFERENCES [dbo].[ResourceAllocation] ([ID])
GO
ALTER TABLE [dbo].[ConsumedResourceAttribute] CHECK CONSTRAINT [FK_CONSUMED_RELATIONS_RESOURCE]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ALLWAYSHA_RESOURCE] FOREIGN KEY([ResourceKind_ID])
REFERENCES [dbo].[ResourceKind] ([ID])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_RESOURCE_ALLWAYSHA_RESOURCE]
GO
ALTER TABLE [dbo].[ResourceAllocation]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_CONSUMES_RESOURCE] FOREIGN KEY([Res_Resource_ID])
REFERENCES [dbo].[Resource] ([ID])
GO
ALTER TABLE [dbo].[ResourceAllocation] CHECK CONSTRAINT [FK_RESOURCE_CONSUMES_RESOURCE]
GO
ALTER TABLE [dbo].[ResourceAllocation]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_PROVIDES_RESOURCE] FOREIGN KEY([Resource_ID])
REFERENCES [dbo].[Resource] ([ID])
GO
ALTER TABLE [dbo].[ResourceAllocation] CHECK CONSTRAINT [FK_RESOURCE_PROVIDES_RESOURCE]
GO
ALTER TABLE [dbo].[ResourceAllocation]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_RELATIONS_ACTIVITY] FOREIGN KEY([Activity_ID])
REFERENCES [dbo].[Activity] ([ID])
GO
ALTER TABLE [dbo].[ResourceAllocation] CHECK CONSTRAINT [FK_RESOURCE_RELATIONS_ACTIVITY]
GO
ALTER TABLE [dbo].[ResourceAttribute]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_CANHAVE_RESOURCE] FOREIGN KEY([Resource_ID])
REFERENCES [dbo].[Resource] ([ID])
GO
ALTER TABLE [dbo].[ResourceAttribute] CHECK CONSTRAINT [FK_RESOURCE_CANHAVE_RESOURCE]
GO
ALTER TABLE [dbo].[ResourceAttribute]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_RELATIONS_ATTRIBUT] FOREIGN KEY([Attribute_ID])
REFERENCES [dbo].[Attribute] ([ID])
GO
ALTER TABLE [dbo].[ResourceAttribute] CHECK CONSTRAINT [FK_RESOURCE_RELATIONS_ATTRIBUT]
GO
ALTER TABLE [dbo].[ResourceAttribute]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_RELATIONS_CONSUMED] FOREIGN KEY([ConsumedResourceAttribute_ID])
REFERENCES [dbo].[ConsumedResourceAttribute] ([ID])
GO
ALTER TABLE [dbo].[ResourceAttribute] CHECK CONSTRAINT [FK_RESOURCE_RELATIONS_CONSUMED]
GO
ALTER TABLE [dbo].[ResourceKind]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_CONSIST_RESOURCE] FOREIGN KEY([Res_ResourceKind_ID])
REFERENCES [dbo].[ResourceKind] ([ID])
GO
ALTER TABLE [dbo].[ResourceKind] CHECK CONSTRAINT [FK_RESOURCE_CONSIST_RESOURCE]
GO
ALTER TABLE [dbo].[ResourceKindAttribute]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_BELONGSTO_ATTRIBUT] FOREIGN KEY([Attribute_ID])
REFERENCES [dbo].[Attribute] ([ID])
GO
ALTER TABLE [dbo].[ResourceKindAttribute] CHECK CONSTRAINT [FK_RESOURCE_BELONGSTO_ATTRIBUT]
GO
ALTER TABLE [dbo].[ResourceKindAttribute]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_HAS_RESOURCE] FOREIGN KEY([ResourceKind_ID])
REFERENCES [dbo].[ResourceKind] ([ID])
GO
ALTER TABLE [dbo].[ResourceKindAttribute] CHECK CONSTRAINT [FK_RESOURCE_HAS_RESOURCE]
GO
USE [master]
GO
